$primary-color:rgb(116, 133, 242)!default; // z wartością default
$primary-color-hover:rgb(132, 153, 237);
$font-primary: 1.1em ;
$primary-background-color: rgb(200, 193, 193);
$paddings: 10px 10px 10px 10px;
$version:1.1;

// przykład mapy (wartość - klucz)
$font-sizes:("xsmall":12px , "small":18px, "large":22px, "xlarge":30px);  