#header{
    background-color: rgb(15, 14, 16);
    min-height: 20%;
    display:flex;
    justify-content: space-around;
    padding:10px;
    
}
#main{
    background-color: rgb(215, 229, 229);
    height: 70%;
    padding:10px;
}
#footer{
    background-color: bisque;
}
.square{
    background-color: rgb(185, 178, 178);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
    text-align: center;
    font-size: large;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.square:hover{
    background-color: rgb(211, 208, 204);
}
h1{
    text-align: center;
}
#footer{
    background-color: rgb(15, 14, 16);
    min-height: 20%;
    color:white;
    text-align: center;
    padding: 20px;
}
#content{
    display:flex;
    justify-content: space-around;
}
#button1{
    border-radius: 10px;
    background-color:rgb(244, 116, 11);
    padding:20px;
    min-width: 200px;
}
#button2{
    border-radius: 10px;
    background-color:rgb(244, 116, 11);
    padding:10px;
    min-width: 400px;
}
#button1:hover , #button2:hover{
    background-color:rgb(235, 148, 76);
}

h2{
    margin:60px;
}
#left{
    display:flex;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: rgb(1, 1, 12);
  }
  
  /* visited link */
  a:visited {
    color: rgb(1, 1, 12);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(1, 1, 12);
  }
  
  /* selected link */
  a:active {
    color: rgb(1, 1, 12);
  }