@mixin h-styles{
    text-transform: uppercase;
    text-align: center;
}

@mixin color($text-color){
    color:$text-color;
}
@mixin font-styles{
    font-family: 'Arimo', sans-serif;
    font-family: 'Exo 2', sans-serif;
}