$primary-color:rgb(175, 189, 188);
$primary-background-color:rgb(201, 230, 221);
$button-color:rgb(184, 184, 192);
$button-color-hover:rgb(75, 199, 59);

$text-color:rgb(220, 46, 46);

$primary-border-color:rgb(123,122,122);