table{
    border:1px black solid;
}
th{
    border:1px black solid;
}
td{
    border:1px black solid;
}
.Button{
    display:flex;
    width: 150px;
    height: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.Button:hover{
    background-color: aquamarine;
}
#container{
    display:flex;
    justify-content: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
@media (min-width:600px){
    body{
        background-color:red;
    }
}
@media (max-width:599px){
    body{
        background-color: blue;
    }
}