body{
    background-color: $primary-background-color;
    margin:0px;
    
}
header{
    display:flex;
    justify-content: flex-end;
    color:white;
    
    p{
        margin:0px 5px 0px 5px;
    }
}
.content-box{
    text-align: center;
}
.logo-picture{
    margin:50px;
}
.space-box{
    height: 13vw;
}

.footer-box{
    
        background-color: #171717;
        min-height: 6.9vw;
        text-align: left;
        color:white;
        margin:none;
        padding: 10px;

        hr{
            border:0.5px thin gray;
        }

        a{
            margin-right: 50px;
        }
    
}

